@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/*fondo y fuente de toda la pagina*/
header{
  background-color: #353535;
  font-family: "nunito";
}

a{
  color: #fff!important;
}

.App {
  text-align: left;
}

.navbar-expand-lg .navbar-collapse {
	justify-content: center;
  margin-left: 25px;
}

.nav-item {
  padding: 20px;
}

button {
  color: white;
  border-radius: 8px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.botonCarrito{
  color: #fff;
  justify-content: flex-end;
}


.detailContainer {
  margin-top: 40px;
  padding: 30px;
}


.itemImg{
  max-width: 100%;
  border-radius: 20px;
}

.itemTitle{
  color: #353535;
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
}

.itemDetail{
  color: #575757;
  font-size: 22px;
  font-weight: 700;
  margin: 20px;
}

.itemPrice{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
