@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/*fondo y fuente de toda la pagina*/
header{
  background-color: #353535;
  font-family: "nunito";
}

a{
  color: #fff!important;
}

.App {
  text-align: left;
}

.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
  margin-left: 25px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
